{$DOMAIN} {
    encode gzip

    handle /downloads/* {
        root * /srv
        header Content-Type application/vnd.android.package-archive
        header Content-Disposition attachment
        header Cache-Control "no-cache"
        file_server
    }

    @ws path /ws/*
    handle @ws {
        reverse_proxy backend:8000
    }

    handle /health {
        reverse_proxy backend:8000
    }

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}
